$cell-icon-size: 40 * 1px;
$movement-icon-size: 25 * 1px;
$grass-color: #629b54;

.App {
  background-color: #282828;
  color: #eeeeee;
  min-height: 100vh;
  padding-top: 50px;
  font-family: "Patrick Hand SC", sans-serif;
  font-size: 20px;
}

.action-panel {
  background-color: #4b4b4b;
  border-radius: 5px;
  padding: 15px 20px;
}

.human-status, .dog-status {
  display: flex;
  margin-bottom: 15px;

  .status-entity-icon {
    width: 52px;
    margin-right: 20px;
  }

  .statuses {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .status {
      display: flex;

      .hunger {
        color: #ffae5a;
      }
      .sanity {
        color: #ffafaf;
      }
    }
  }

  .progress-bar-wrapper {
    margin-left: 10px;
    width: 200px;
  }
}

.inventory {
  margin-bottom: 15px;

  .inventory-icon {
    display: inline-block;
    width: 20px;
    margin-right: 10px;

    &.seed {
      color: #b3e55c;
    }
    &.sapling {
      color: #b4f38f;
    }
    &.wood {
      color: #b07655;
    }
    &.fish {
      color: #75c5d3;
    }
    &.crop {
      color: #efa860;
    }
    &.food {
      color: #ef8140;
    }
  }


}

.movement-control {
  .movement-icon {
    margin: $movement-icon-size * 0.1;
    width: $movement-icon-size * 1.5;
    height: $movement-icon-size * 1.5;
    font-size: $movement-icon-size;
    border-radius: $movement-icon-size * 0.3;
    background-color: #8a8a8a;
    text-align: center;

    &.hidden {
      opacity: 0.4;
    }
  }
}

.map-container {
  position: relative;
}

.terrain-layer, .player-layer, .fog-layer {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.map-row {
  display: flex;
  width: 100%;
}

.cell {
  width: $cell-icon-size * 1.6;
  height: $cell-icon-size * 1.6;
  margin: 1.5px;
  border-radius: $cell-icon-size * 0.1;
  font-size: $cell-icon-size;
  text-align: center;

  /* ---- terrain ---- */

  &.cursed-grass {
    background-color: #835a72;
    color: #262626;
  }

  &.farm {
    background-color: $grass-color;
    color: #efa860;
  }

  &.grass {
    background-color: $grass-color;
  }

  &.house {
    background-color: $grass-color;
    color: #a24b16;
  }

  &.paw {
    background-color: $grass-color;
    color: #673800;
  }

  &.baby-tree {
    background-color: $grass-color;
    color: #126206;
    font-size: $cell-icon-size * 0.6;
    padding-top: $cell-icon-size * 0.33;
  }

  &.tree {
    background-color: $grass-color;
    color: #094900;
  }

  &.unknown {
    background-color: #888;
    animation: blinker 3s linear infinite;
    @keyframes blinker {
      50% {
        opacity: 0.9;
      }
    }
  }

  &.water {
    background-color: #44a8cb;
    color: #437ead;
  }

  &.water-deep {
    background-color: #236279;
    color: #4179a2;
  }

  &.boat {
    background-color: #44a8cb;
    color: #a97856;
  }

  &.wilt {
    background-color: $grass-color;
    color: #696462;
  }

  &.seedling {
    background-color: $grass-color;
    color: #117c00;
  }

  /* ---- player ---- */
  &.player {
    background-color: rgba(255, 255, 255, 0.4);
    color: #303030;
    animation: blinker 3s linear infinite;
    @keyframes blinker {
      50% {
        opacity: 0.5;
      }
    }
  }

  &.dog {
    background-color: rgba(255, 255, 255, 0.4);
    color: #ffffff;
    animation: blinker 3s linear infinite;
    @keyframes blinker {
      50% {
        opacity: 0.5;
      }
    }
  }
}

/* todo: responsive design */