$cell-icon-size: 40 * 1px;
$grass-color: #629b54;
$movement-icon-size: 25 * 1px;
@use "./colors.scss";

.App {
  background-color: #282828;
  color: #eeeeee;
  min-height: 100vh;
  font-family: "Patrick Hand SC", sans-serif;
  font-size: 20px;
}

.action-control {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.action-panel {
  background-color: #4b4b4b;
  border-radius: 5px;
  padding: 15px 20px;
  width: 375px;
  margin: 0 15px;
}

.auth-modal {
  @extend .full-screen-overlay;
}

.bg-navbar {
  background-color: #627a64;
}

.cell {
  width: $cell-icon-size * 1.6;
  height: $cell-icon-size * 1.6;
  margin: 1.5px;
  border-radius: $cell-icon-size * 0.1;
  font-size: $cell-icon-size;
  text-align: center;

  &.baby-tree, &.cursed-baby-tree {
    font-size: $cell-icon-size * 0.6;
    padding-top: $cell-icon-size * 0.33;
  }

  &.player {
    animation: blinker 3s linear infinite;
    @keyframes blinker {
      50% {
        opacity: 0.5;
      }
    }
  }

  &.dog {
    animation: blinker 3s linear infinite;
    @keyframes blinker {
      50% {
        opacity: 0.5;
      }
    }
  }

  &.player-dog {
    padding-top: $cell-icon-size * 0.45;
    padding-left: $cell-icon-size * 0.1;
    font-size: $cell-icon-size * 0.5;

    animation: blinker 3s linear infinite;
    @keyframes blinker {
      50% {
        opacity: 0.5;
      }
    }
  }
}

.current-user {
  font-size: 16px;
  margin-top: -15px;

  /* bootstrap overrides */
  .nav-pills .nav-link {
    color: #313131;

    &.delete-account {
      color: #f30000;
    }

    &.active {
      color: #ffffff;
      background-color: #627a64;

      &.delete-account {
        background-color: #cc3838;
      }
    }
  }
}

.custom-modal {
  @extend .full-screen-overlay;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-box {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    height: fit-content;
    max-height: 80vh;
    padding: 15px;
    background-color: #eee;
    color: #333;
    border-radius: 15px;

    .modal-title {
      font-size: 24px;
      padding-top: 15px;
      border-bottom: 1px solid #b9b9b9;
      margin: 0 15px 15px 10px;
      display: flex;
      align-items: baseline;

      .close-icon {
        margin-left: auto;
        font-size: 15px;
        color: #8a8a8a;

        :hover {
          cursor: pointer;
        }
      }
    }

    .modal-content {
      padding: 15px;
      overflow-y: auto;
    }

    .modal-footer {
      padding: 10px 0 5px 0;
      border-top: 1px solid #c5c5c5;
      margin: 15px 15px 0 15px;
    }
  }

  &.sm {
    .modal-box {
      width: 30%;
    }
  }

  &.md {
    .modal-box {
      width: 50%;
    }
  }

  &.lg {
    .modal-box {
      width: 75%;
    }
  }
}

.form-group {
  margin-bottom: 10px;
}

.full-screen-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

.game {
  padding-top: 50px;
}

.game-file {
  flex-basis: 150px;
  text-align: center;
  margin-right: 15px;

  &.add-save {
    &:hover {
      cursor: pointer;
      background-color: #aaaaaa;
    }
  }
}

.game-file-container {
  padding-bottom: 20px;
  overflow-x: auto;
}

.human-status, .dog-status {
  display: flex;
  margin-bottom: 15px;

  .status-entity-icon {
    width: 52px;
    margin-right: 20px;
  }

  .statuses {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .status {
      display: flex;
      align-items: center;

      .status-icon {
        font-size: 15px;
      }
    }
  }

  .progress-bar-wrapper {
    margin-left: 10px;
    width: 200px;
  }
}

.inventory {
  margin-bottom: 15px;

  .inventory-icon {
    display: inline-block;
    width: 20px;
    margin-right: 10px;
  }
}

.night-overlay {
  background-color: rgba(0, 0, 0, 0.3);
}

.map-container {
  position: relative;
  width: calc(100% - 450px);
  min-width: 450px;
}

.map-layer {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.map-row {
  display: flex;
  width: 100%;
}

.movement-control {
  .movement-icon {
    margin: $movement-icon-size * 0.1;
    width: $movement-icon-size * 1.5;
    height: $movement-icon-size * 1.5;
    font-size: $movement-icon-size;
    border-radius: $movement-icon-size * 0.3;
    background-color: #8a8a8a;
    text-align: center;

    &.hidden {
      opacity: 0.4;
    }
  }
}

.notification-list {
  position: absolute;
  width: 100%;
  padding: 100px 25%;
  z-index: 200;
  max-height: 100vh;
  overflow-y: clip;

  /* bootstrap override */
  .alert {
    font-size: 18px;
    padding: 10px 40px 10px 15px;

    .btn-close {
      padding: 15px;
    }
  }
}

.rules-accordion {
  // bootstrap overrides

  .accordion-button {
    font-size: 18px;

    &.collapsed {
      background-color: #979d97;
      color: #ffffff;
    }

    &:not(.collapsed) {
      background-color: #758f7d;
      color: #ffffff;
    }
  }

  .accordion-body {
    font-size: 16px;
    background-color: #f5f5f5;
    color: #2f2f2f;
  }
}

.rule-icon {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  font-size: 13px;
  text-align: center;

  &.default-background {
    background-color: #4b4b4b;
  }

  &.invisible-icon {
    color: rgba(0, 0, 0, 0);
  }
}

.time-control {
  margin-top: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.win-lose-modal {
  @extend .full-screen-overlay;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .win-lose-message {
    padding: 38px 20px;
    height: 150px;
    text-align: center;

    &.winning {
      background-color: #506e4e;
    }

    &.losing {
      background-color: #505050;
    }
  }
}

/* todo: responsive design */
