$grass-color: #629b54;

.cursed-grass {
  background-color: #835a72;
  color: #262626;
}

.farm {
  background-color: $grass-color;
  color: #efa860;
}

.grass {
  background-color: $grass-color;
}

.house {
  background-color: $grass-color;
  color: #a24b16;
}

.paw {
  background-color: $grass-color;
  color: #673800;
}

.tree, .baby-tree {
  background-color: $grass-color;
  color: #094900;
}

.cursed-tree, .cursed-baby-tree {
  background-color: #835a72;
  color: #ffffff;
}

.fog {
  background-color: #888;
}

.water {
  background-color: #44a8cb;
  color: #437ead;
}

.water-deep {
  background-color: #236279;
  color: #4179a2;
}

.boat {
  background-color: #44a8cb;
  color: #a97856;
}

.wilt {
  background-color: #65525a;
  color: #e7e7e7;
}

.seedling {
  background-color: $grass-color;
  color: #117c00;
}

.player, .dog, .player-dog {
  background-color: rgba(255, 255, 255, 0.4);
  color: #ffffff;
}

.hunger {
  color: #ffae5a;
}

.sanity {
  color: #ffafaf;
}

.action-points {
  color: #a8c6e0;
}

.seed {
  color: #b3e55c;
}

.sapling {
  color: #b4f38f;
}

.wood {
  color: #b07655;
}

.fish {
  color: #75c5d3;
}

.crop {
  color: #efa860;
}

.food {
  color: #ef8140;
}

.movement {
  background-color: #8a8a8a;
  color: #ffffff;
}
